.carousel-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.carousel-button.prev {
    left: 3px;
}

.carousel-button.next {
    right: 3px;
}

.carousel-button svg {
    width: 48px;
    height: 48px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.carousel-button path {
    stroke: white;
    stroke-width: 2;
}

.carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-dot {
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0. 0.5);
}

.carousel-dot.active {
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
